# Block direct access to these folders
RedirectMatch 403 ^/(src)/
RedirectMatch 403 ^/\.|^.*\.env$

<FilesMatch "^(README\.md|docker-compose\.yml|Dockerfile)$">
    Order allow,deny
    Deny from all
</FilesMatch>