/* 
Styling below taken from:
A (more) Modern CSS Reset (no date) Piccalilli. Available at: https://piccalil.li/blog/a-more-modern-css-reset/ (Accessed: 25 November 2024).
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* 
Styling above taken from:
A (more) Modern CSS Reset (no date) Piccalilli. Available at: https://piccalil.li/blog/a-more-modern-css-reset/ (Accessed: 25 November 2024).
*/

* {
  --max-width: 1000px;
  --background-color: #272727;
  --color: #fcfcfc;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color);
}

.btn {
  font-size: 1.5rem;
  background-color: var(--background-color);
  color: var(--color);
  border-radius: 1.6rem;
  padding: 8px 18px;
  transition: ease-in 0.1s;
}

.btn:hover {
  background-color: #383535;
  transition: ease-in 0.1s;
}


/* Navigation */
nav {
  display: flex;
  justify-content: center;
  padding: 1.6rem 1rem;
  box-shadow: 0px 1px 14px #0000004f;
}

nav section {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: start;
  }
}

#inner-nav {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: start;
  }
}

#site-title {
  font-weight: bolder;
  font-size: 2.2rem;
}

#logout {
  font-size: 1.5rem;
  background-color: var(--background-color);
  color: var(--color);
  border-radius: 1.6rem;
  padding: 8px 18px;
  transition: ease-in 0.1s;
}

#logout:hover {
  background-color: #383535;
  transition: ease-in 0.1s;
}

nav a:not([id]) {
  font-size: 1.5rem;
}

nav a:not([id]):hover {
  text-decoration: underline;
}

/* footer */
footer {
  text-align: center;
  padding-bottom: 3rem;
}

/* homepage */
#homepage section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  background-color: var(--background-color);
  color: var(--color);
}

.section-title {
  background-color: var(--color) !important;
  color: var(--background-color) !important;
  margin: 1.5rem 0 3rem 0;
  font-size: 1.6rem;
}

#homepage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: var(--max-width);
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}